.fadeIn_h1, .fadeIn_p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

/*footer*/
/*mixins*/
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*variables*/
/*clinica*/
/*animaciones*/
.mainClinica {
  background-color: #3d84b8; }
  .mainClinica h2 {
    text-align: center; }

footer {
  background-color: #f0ebcc;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    footer {
      display: flex;
      flex-direction: column; } }

body {
  padding: 0;
  margin: 0; }

article {
  background-color: #3d84b8; }
  article h2 {
    text-align: center; }

.container h3 {
  text-align: center; }

.container div {
  padding: 10px;
  outline: 1px solid yellow; }

footer {
  background-color: #f0ebcc;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    footer {
      display: flex;
      flex-direction: column; } }

body {
  padding: 0;
  margin: 0; }

.fadeIn_h1 {
  color: #3f3697;
  text-transform: uppercase;
  animation: fadeIn;
  animation-duration: 2s; }

.fadeIn_p {
  color: #3f3697;
  text-transform: uppercase;
  animation: fadeIn;
  animation-duration: 2s; }

footer {
  background-color: #f0ebcc;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    footer {
      display: flex;
      flex-direction: column; } }

.contactos {
  background-color: #3d84b8; }
  .contactos h2 {
    text-align: center; }
  .contactos p {
    text-align: center; }

.row {
  display: flex; }

.column {
  flex: 33.33%;
  padding: 5px; }
  @media screen and (max-width: 500px) {
    .column .column {
      width: 100%; } }

footer {
  background-color: #f0ebcc;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    footer {
      display: flex;
      flex-direction: column; } }

/*estilos para mapa y la caja*/
.contactanos h2 {
  text-align: center;
  background-color: #3d84b8; }

.contactanos__mapa {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  box-sizing: content-box;
  text-align: center;
  flex-direction: row;
  padding: 3em;
  padding-left: 5%; }

/*estilos para el form*/
.seccionContacto {
  width: 40%;
  background-color: teal;
  margin-bottom: 20%;
  margin-left: 30%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0px;
  display: flex;
  justify-content: center;
  text-align: center; }
  .seccionContacto__label {
    display: block;
    text-align: center; }
    .seccionContacto__label__input {
      width: 100%;
      margin-bottom: 10px; }
  @media only screen and (max-width: 900px) {
    .seccionContacto {
      width: 50%; } }

footer {
  background-color: #f0ebcc;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 900px) {
    footer {
      display: flex;
      flex-direction: column; } }
