.fadeIn_h1, .fadeIn_p, .contactanos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

/*footer*/
/*mixins*/
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*variables*/
/*clinica*/
/*animaciones*/
.mainClinica {
  background-color: orange; }

body {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

.fadeIn_h1 {
  color: #3f3697;
  text-transform: uppercase;
  animation: fadeIn;
  animation-duration: 2s; }

.fadeIn_p {
  color: #3f3697;
  text-transform: uppercase;
  animation: fadeIn;
  animation-duration: 2s; }

main h2 {
  text-align: center; }

main_accesorios {
  display: flex;
  flex-direction: row; }

footer {
  background-color: #f0ebcc;
  display: flex;
  justify-content: space-around; }

header {
  background-color: red; }

.contactanos {
  width: 40%;
  background-color: teal;
  margin-bottom: 20%;
  margin-left: 30%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0px; }

.seccionContacto_nombre_label {
  display: block;
  text-align: left; }

.seccionContacto form div input {
  width: 100%;
  margin-bottom: 10px; }

form {
  text-align: center; }

form label {
  display: inline-block;
  width: 60%;
  color: white;
  text-align: left;
  font-weight: 600;
  background-color: teal; }

form input[type="submit"] {
  margin-top: 1.5rem;
  background-color: turquoise;
  padding: 0.4rem;
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer; }
