body{
    padding: 0;
    margin: 0;
}

article{
    background-color: $color-fondo;

    h2{
        text-align: center;
    }
}

.container{
    
    overflow-x: hidden;

    h3{
        text-align: center;
    }
    div{
        padding: 10px;
        outline: 1px solid yellow;
    }

    @media only screen and (max-width: 900px){
        .d-flex{
            flex-direction: column;
        }
    }

}


footer{
    background-color: $color-principal;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 900px){
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
    }
}