.mainClinica{
    background-color: $color-fondo;
    h2{
        text-align: center;
    }
}

footer{
    background-color: $color-principal;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 900px){
        display: flex;
        flex-direction: column;
    }
}