/*tituloServicios*/

.tituloServicios{
    text-align: center;
}
.parrafoClinica{

    font-style: normal;
    
    font-weight: lighter;
    
    font-size: medium;
    
    font-family: sans-serif;
    
    text-align: center;
    
    border: 1px solid aliceblue;
    
    padding: 5em;
    
    }
    
.parrafoArmazones{
    $border: 1px solid aliceblue;
    $padding: 3em;
    }
    
/*mapa y caja info*/
.flexContainer{
    $flex-direction: row;
    $flex-wrap: wrap;
    $justify-content: space-between;
    $padding: 3em;
    }
