
/*estilos para mapa y la caja*/
.tituloContactanos{
    text-align: center;
    background-color: $color-fondo;
}
.contactanos{
    h2{
        text-align: center;
    }
    &__mapa{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        padding: 2em;
        box-sizing: content-box;
        text-align: center;
        flex-direction: row;
        padding: 3em;
        padding-left: 5%;
        overflow-x: hidden;
        }
}

/*estilos para el form*/
.formularioContacto{
    text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: $color-fondo;
}

.seccionContacto{
    border-radius: 5px;
    background-color: $color-fondo;
    padding: 20px;

    @media screen and (max-width: 900px) {
        input[type=submit] {
        width: 100%;
        margin-top: 0;
        }
    }
}

footer{
    background-color: $color-principal;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (max-width: 900px){
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
    }