body{
    padding: 0;
    margin: 0;
}

.carrusel{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: $color-fondo;
}

.fadeIn{
        &_h1{
          color: $color-titulos;
          text-transform: uppercase;
          @extend %flexboxRow;
          @include fadeIn(fadeIn,2s);
        }
        &_p{
          color: $color-titulos;
          text-transform: uppercase;
          @extend %flexboxRow;
          @include fadeIn(fadeIn,6s);
        }
      }  

      footer{
        background-color: $color-principal;
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 900px){
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }