main{
    h2{
        text-align: center;
    }
    &_accesorios{
    display: flex;
    flex-direction: row;
} 
}


footer{
    background-color: $color-principal;
    display: flex;
    justify-content: space-around;
}
        
    

