/*variables*/

$color-principal: rgb(240, 235, 204);
$color-texto: rgb(52, 79, 161);
$color-titulos: rgb(63, 54, 151);
$color-fondo: rgb(61, 132, 184);

/*clinica*/
$card-group-margin: 80px;
$card-height: 30px;

/*animaciones*/
$animation: fadeIn;
$duration: 2s;
$method: linear;
$times: 1;